
<link href="~/Assets/Style/Style.css" rel="stylesheet" />


<div class="row header">
    <br />

    <div class="col-lg-6 PageTitle">Personal Data</div>

</div>
<br/>

<div class="row">
    <br />

    <h1>Dina Abdallah Kamel </h1>
    <h4>Dot Net Full Stack Developer</h4>


</div>